.sec_container{
  display: flex;
  border-radius: 10px;
  background-image: linear-gradient( rgb(252, 94, 121), rgb(235, 32, 65));
  color: white;
  text-decoration: none;
  padding: 30px;
  margin: 8px 10px 12px 10px;
  border-radius: 20px;
  color: #fff;
}
.daily{
  padding-left: 10px;
  padding-top: 15px;
  font-size: 40px;
  width: 200px;
}
.paddy{
padding-left: 10px;
padding-top: 2.5px;
width: 200px;
}
.paddy2{
  padding-left: 10px;
}
.paddy3{
  padding-left: 10px;
}
.cta-button{
  display: flex;
  border-radius: 3px;
  background-color: rgb(165, 8, 31);
  border: none;
  color: rgb(231, 209, 209);
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 85px;
  cursor: pointer;
  margin: 2.5px;
  padding-left: 10px;
  margin-left: 10px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: -10px;
}
.items{
  flex:1;
}
.sec_container a{
  text-decoration: none;
}
.sec_container p{
  font-size:15px;
}

.img {
  height: 120px;
  width: 80px;
  float: right;
  position: relative;
  margin-bottom: -90px;
  left: 10px;
  bottom: -145px;
  

}

.empty {
  display: flex;
  height: 80px; 
  width: 80;
  color: #fff;
  flex-direction: column;
  font-size: large;
 margin-top: 85px;
 padding-bottom: 70px;
 
 
}

input[type="text"]{
  margin-top: 10px;
  text-align: right;
  color: rgb(165, 8, 31);
}

input[type="text"]::placeholder{
  color: red;
}
/*
.empty div {
  border-top: 3px solid #fff;
  margin-top: 10px;
  font-size: large;
  margin-right: 10px;
  margin-bottom: 30px;
  position: relative;
  bottom: -100;
  background-color: ;
}
*/

  


 
